@import "./../../styles/variables";
@import "./../../styles/functions";
div.footer {
  @include restricted_width();
  background-color: $darker;
  color: $primary;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  div {
    background-color: $darker;
  }
}
