@import "./variables";

div {
  //border: 1px solid black;
  background-color: $secondary;
}
body {
  margin: 0ch;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  min-height: 100vh;
}
