@import "./../../styles/variables";

div.mainPage {
  text-align: center;
  padding: 25px;
  min-width: 100vh;

  input {
    padding: 25px;
    border-radius: 25px;
    min-width: 400px;
    max-width: 1000px;
    font-size: 25px;
    margin-bottom: 25px;
    background-color: $lighter;
  }

  div.gallery {
    min-height: 100vh;
  }
}
