@import "./../../styles/variables";

div.DrinkCard {
  color: $darker;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  text-decoration: none;
  * {
    text-decoration: none;
  }

  img {
    width: 300px;
    height: fit-content;
    border-radius: 25px;
    border: 3px solid $dark;
  }
  p:first-of-type {
    font-weight: bold;
    font-size: 25px;
  }

  p:last-of-type {
    font-style: italic;
    color: $primary;
  }

  border: 3px solid $darker;
  border-radius: 25px;
  background-color: $lighter;
  padding-top: 30px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

div.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 10px;
}
