@import "./../../styles/variables";
@import "./../../styles/functions";

nav {
  @include restricted_width();
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  p {
    position: relative;
    right: 5px;
    cursor: pointer;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    cursor: pointer;
  }
  li {
    display: inline-block;
    padding: 0 20px;
  }
}
