@import "./../../styles/variables";

.main-page {
  min-height: 100vh;
  .panels {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    background-color: $darker;
    padding: 25px;
    border-radius: 0 0 25px 25px;
  }
}
.custom-link {
  color: $lighter;
  text-decoration: none;
}
